priority -60

snippet test "test" b
testtesttest
endsnippet

#snippet line "---" b
#---
#endsnippet
#
#snippet slide "add divider" br
#\n---\n$0
#endsnippet
#
#snippet next "add divider" wr
#\n\n---\n
#endsnippet
#
#snippet layout "layout" bA
#---
#layout: ${VISUAL:quote}
#endsnippet
